<template name="landing">
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <!-- <img src="https://s3.amazonaws.com/cloudvakil/tour1_nobutton.png" alt="img1"/> -->
        <img src="/resources/images/tour1_nobutton.png" alt="img1"/>
        <div class="caption center-align" style="margin-top:120%">
          <a href="#" class="myButton">LOGIN</a>
        </div>
      </li>
      <li>
        <!-- <img src="https://s3.amazonaws.com/cloudvakil/a_nobutton.png" alt="img2"/> -->
        <img src="/resources/images/a_nobutton.png" alt="img2"/>
        <div class="caption center-align" style="margin-top:120%">
          <a href="#" class="myButton">LOGIN</a>
        </div>
      </li>
    </ul>
  </div>
</template>
