<template name="detailsProject">
  {{>nav}} 
  <table class='hoverable'>
          <thead>
            {{#if orderFetched}}
            <tr>
                <th data-field="title">Tap to open order</th>
            </tr>
            {{/if}}
          </thead>
          <tbody>
            {{#if orderFetched}}
              {{ #each orders}}
                <tr>
                  <a href="#" onclick="window.open('https://docs.google.com/viewer?url={{link}}', '_system');">https://docs.google.com/viewer?url={{link}}</a>
                  {{timeAgo}}
                </tr>
              {{ /each }}
            {{else}}
              Orders Not Found
            {{/if}}
            
          </tbody>
  </table>
</template>