<template name="detailsProject">
  {{>nav}}
  <table class='hoverable'>
          <thead>
            {{#if orderFetched}}
            <tr>
                <th data-field="title">Tap to open order</th>
            </tr>
            {{/if}}
          </thead>
          <tbody>
            {{#if orderFetched}}
              {{ #each orders}}
                <tr>
                  <a href="#" onclick="window.open('{{link}}', '_system');" class="btn -large waves-effect waves-light indigo dark-2">Order <i class="mdi-action-schedule"></i>{{time ago}}</a>
                </tr>
              {{ /each }}
            {{else}}
              Orders Not Found
            {{/if}}

          </tbody>
  </table>
</template>
