<template name="login">
  <div class="slider fullscreen">
    <ul class="slides">
      <li>
        <img src="/resources/images/tour1_nobutton.png" alt="img1"/>
        <div class="caption center-align" style="margin-top:130%">
          <a href="#" class="myButton">Login</a>
        </div>
      </li>
      <li>
        <img src="/resources/images/a_nobutton.png" alt="img1"/>
        <div class="caption center-align" style="margin-top:130%">
          <a href="#" class="myButton">Login</a>
        </div>
      </li>
    </ul>
  </div>
</template>
