<template name="login">
  <style type="text/css">
  .lw {
    font-size: 60px;
    text-align:  center;
    color:  #fff;
    padding-top: 40px;
    margin-bottom: 40px;
    text-transform: uppercase;
  }
  .image{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .plate{
    background-color: #0079bf;
    font-family:  Roboto;
  }
  .at-form{
    padding: 50px 100px;
  }
  .submit{
    background-color:#0079bf;
  }
  .submit:hover{
    background-color: #3a7abd;
  }
  .at-signup{
    color: #0079bf;
  }
  .at-signup:hover{
    color: #3a7abd;
  }
  .header{
    display:none;
  }
  label {
    padding-bottom: 10px;
    font-size: 50px;
  }
  #at-facebook, #at-google{
    margin-bottom: 30px;
    vertical-align:
  }
  #at-btn{
    margin-top: 30px;
  }
  .btn {
    height:80px;
    font-size: 50px;
  }
  #at-field-password, #at-field-email, #at-field-password_again{
    text-align: center;
    font-size: 35px;
    color: #727272;
  }
  .at-signup-link, .at-signin-link {
    color: #545454;
    font-size: 30px;
    text-align: center;
  }
  #at-signUp, #at-signIn{
    font-size:  40px;
    text-transform: uppercase;
  }
  .at-sep{
    font-size: 30px;
    padding: 10px 0px;
  }
  </style>

  <div class="plate">
    <div class="image" style="text-align: center;">
      <img src="https://s3.amazonaws.com/cloudvakil/gavel1.png" alt="gavel" height="250" width="400"/>
    </div>
    <div class="row"><div class="col s12 lw">Sign up to see orders for your cases</div></div>
  </div>
  <div class="body" style="text-align: center;">
    {{> atForm}}
  </div>
</template>
