<template name="nav">
	<nav>
    <!-- Dropdown Trigger -->
    <span class='dropdown-button right' href='#' data-activates='dropdown1' ><i class="mdi-navigation-more-vert"></i></span>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a class="logout">Logout</a></li>
    </ul>
	  <!-- <ul class="right hide-on-med-and-down">
	    <li><a href="#!">First Sidebar Link</a></li>
	    <li><a href="#!">Second Sidebar Link</a></li>
	  </ul>
	  <ul id="slide-out" class="side-nav">
	    <li><a href="#!">First Sidebar Link</a></li>
	    <li><a href="#!">Second Sidebar Link</a></li>
	  </ul>
	  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a> -->
	</nav>
</template>