<template name="projectsList">
  <div class="projectlist">
    <div class="row center head">
      <div class="col s12 m6" data-field="suitNumber">
        Suit Number
      </div>
      <div class="col s12 m6" data-field="title">
        Title
      </div>
    </div>
    
      {{#each projects}}
      <div class="projectRow">
        <div class="row center">
          <div class="col s12 m6">
            {{ctype}}/{{cnum}}/{{cyear}}
          </div>
          <div class="col s12 m6">
            {{title}}
          </div>
        </div>
      </div>
      {{/each}}
    
  </div>
</template>
