@import url(http://fonts.googleapis.com/css?family=Montserrat:700);

/*landing page*/
.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.myButton {
  background-color:transparent;
  border-radius:7px;
  border:1px solid #ffffff;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Roboto;
  font-size:15px;
  padding: 2px 30px;
  text-decoration:none;
  font-weight: bold;
}
/*.myButton:hover {
  background-color:transparent;
}*/
.myButton:active {
  position:relative;
  top:1px;
}
.projectlist{
  padding-top : 10px;
}
.head{
  font-weight: bold;
  font-size: 20px;
}
.lw {
  font-size: 0.8em;
  color:  #fff;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-family: 'Montserrat', Roboto;
}
.image{
  padding-top: 15px;
  padding-bottom: 15px;
}
.plate{
  /*background-color: #2962ff;*/
  padding-top: 10px;
  font-family:  Roboto;
  text-align: center;;
}

/*login*/
.at-form{
  padding: 10px 20px;
}
.at-signup{
  color: #2962ff;
}
.at-signup:hover{
  color: #3a7abd;
}
#at-facebook, #at-google{
  margin-bottom: 15px;
}
#at-btn{
  margin-top: 20px;
}
#at-field-password, #at-field-email, #at-field-password_again{
  text-align: center;
  font-size: 15px;
  color: #727272;
  height: 30px;
}
.at-signup-link, .at-signin-link {
  color: #545454;
  font-size: 15px;
  text-align: center;
}
#at-signUp, #at-signIn{
  font-size:  15px;
  text-transform: uppercase;
}
.at-sep{
  font-size: 15px;
  padding-bottom: 10px;
}
.submit_button{
  text-align: center;
}

a {
  color:inherit;
  text-decoration: none;
}

.dropdown-content li > a, .dropdown-content li > span {
  color: #2962ff;
  font-size: 1rem;
}

.slider .indicators .indicator-item.active {
  background-color: #0d47a1;
}

/*detailsProject*/
.vieworder a{
    font-size: 15px;
}
.vieworder{
  margin: 5px 10px;
  text-align: center;
}
.no-order{
  padding: 10px 0px;
  text-align: center;
}

/*projectList*/
.ctitle, .cnumber{
  word-wrap: break-word;
  line-height: 1.3rem;
}
.btn-small{
  font-weight: bold;
  padding: 4px 7px;
}
.new-tag{
  padding: 5px 5px;
  font-size: 13px;
  font-weight: bold;
}
/*.new-tag .btn-small{
  padding: 0px 5px;
  font-size: 13px;
}*/
.collapsible-header{
  height: auto;
  padding: .5rem 0rem;
  line-height: 1.5rem;
}
.collapsible-header .row{
  padding-top:0.5rem;
}
.collapsible-header i {
  margin-right: 0px;
  margin-left: 0px;
}
.mdi-action-delete:hover,
.mdi-action-delete:active {
	color: #ff0000;
}
.mdi-action-description:hover,
.mdi-action-description:active {
	color: #2962ff;
}

/*addButton*/
.addbutton{
  bottom: 25px; right: 25px;
}

/*addProject*/
.btn{
  background-color: #2962ff;
}
.btn:hover{
  background-color: #3a7abd;
}
.submit_button{
  text-align: center;
}
