<template name="nav">
	<nav class="blue accent-4">
    <!-- Dropdown Trigger -->
		<a href="{{pathFor 'projects'}}"><img src="/resources/images/gavel1.png" alt="gavel" height="60" width="100" style="padding-top: 5px; padding-left: 20px; padding-bottom: 10px;"/></a>
    <span class='dropdown-button right' href='#' data-activates='dropdown1' data-belowOrigin="true"><i class="mdi-navigation-more-vert" style="padding-right:20px;"></i></span>
    <!-- Dropdown Structure -->
    <ul id='dropdown1' class='dropdown-content'>
      <li><a class="tour">Tour</a></li>
      <li class="divider"></li>
      <li><a class="causelist">Cause List</a></li>
      <li class="divider"></li>
      <li><a class="logout">Logout</a></li>
    </ul>
	  <!-- <ul class="right hide-on-med-and-down">
	    <li><a href="#!">First Sidebar Link</a></li>
	    <li><a href="#!">Second Sidebar Link</a></li>
	  </ul>
	  <ul id="slide-out" class="side-nav">
	    <li><a href="#!">First Sidebar Link</a></li>
	    <li><a href="#!">Second Sidebar Link</a></li>
	  </ul>
	  <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a> -->
	</nav>
</template>
